# ðŸ§  Model Development â€” Housing Prices in India

---

### ðŸ”— **Notebook Context**

This notebook is the **third stage** of the *Housing Prices in India* project.  
In the previous notebooks, we:
1. Performed **Exploratory Data Analysis (EDA)** to understand the dataset.  
2. Conducted **Data Cleaning and Feature Engineering** to prepare high-quality inputs for modeling.

In this notebook, weâ€™ll build, train, and evaluate three regression models â€” **Linear Regression**, **Ridge Regression**, and **Lasso Regression** â€” to predict housing prices in India.  
Weâ€™ll compare performance, analyze feature importance, and save the trained models for deployment.

---

## ðŸŽ¯ **Objectives**

1. Load the cleaned dataset  
2. Split data into training and testing sets  
3. Train Linear, Ridge, and Lasso regression models  
4. Evaluate model performance (RÂ², MAE, RMSE)  
5. Save the trained models into the `models/` directory  
6. Summarize key insights and next steps  

---

## ðŸ“¦ **1. Setup & Data Loading**

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('../data/cleaned-feature-engineered-data.csv')
df.head()

,posted_by,under_construction,rera_approved,num_of_rooms,bhk_or_rk,ready_to_move,resale,longitude,latitude,price,avg_price_per_unit_area,avg_price_per_room,area_per_room
0,Owner,No,No,2,BHK,Yes,Yes,12.969910,77.597960,55.0,0.04230,27.50,650.118204
1,Dealer,No,No,2,BHK,Yes,Yes,12.274538,76.644605,51.0,0.04000,25.50,637.500000
2,Owner,No,No,2,BHK,Yes,Yes,12.778033,77.632191,43.0,0.04608,21.50,466.579861
3,Owner,No,Yes,2,BHK,Yes,Yes,28.642300,77.344500,62.5,0.06721,31.25,464.960571
4,Dealer,Yes,No,2,BHK,No,Yes,22.592200,88.484911,60.5,0.06056,30.25,499.504623